<div class="main-container">
  <h1>My favorites</h1>

  <div class="main-cards">
    <% @favorites.each do |favorite| %>
      <div class="destination-card">
        <div class="destination-photo">
          <%= image_tag favorite.destination.photo_url, height: 120, crop: :scale, alt: favorite.destination.name, class: "destination-image-index" %>
        </div>
        <div class="destination-infos">
          <h2><%= favorite.destination.name %> (<%= favorite.destination.country %>)</h2>
          <p><%= favorite.destination.description %></p>
          <%= link_to "Search journeys from #{favorite.destination.name}", destinations_path(location: favorite.destination.name), class: "search_with_location" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
