<div class="main-container">
  <h1>My favorites</h1>

  <div class="main-cards">
    <% @favorites.each do |favorite| %>
      <div class="destination-card">
        <div class="destination-photo">
          <%= image_tag favorite.destination.photo_url_small, height: 120, crop: :scale, alt: favorite.destination.name, class: "destination-image-index" %>
        </div>
        <div class="destination-infos">
          <h2><%= favorite.destination.name %> (<%= favorite.destination.country %>)</h2>
          <p><%= favorite.destination.description %></p>
          <%= link_to "SEARCH JOURNEYS FROM #{favorite.destination.name.}", destinations_path(user_destination_id: favorite.destination.id), class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <%= image_tag("wave_background.png", class: "image-background") %>
  </div>
</div>
