<div class="main-container">
  <h1>My favorites</h1>

  <%= @favorites.each do |destination| %>
    <div class="destination-card">
      <div class="destination-photo">
        <%= image_tag destination[1][0].photo_url, height: 120, crop: :scale, alt: destination[1][0].name, class: "destination-image" %>
      </div>
      <div class="destination-infos">
        <div>
          <h2><%= destination[1][0].name %> (<%= destination[1][0].country %>)</h2>
          <p><%= destination[1][0].description %></p>
        </div>
        <% if Favorite.where(user: current_user).where(destination: destination).exists? %>
          <div class="favorite-added">Already in your Favorites</div>
        <% else %>
          <%= link_to "Add to favorites", favorites_path(dest: destination), method: :post, class: "favorite-add" %>
        <% end %>
      </div>
    </div>
</div>
