<div class="cards-destination-show">
  <!-- Les infos générales d'un trajet particulier -->
  <div class="card-destination-show-general">
    <div class="card-destination-carbon">
      <% @distance %>
      <i class="fas fa-leaf"></i>
      <p><%= @carbon %> kg CO2</p>
    </div>
    <div class="card-destination-transit-icon">
      <% @steps.each do |step| %>
        <% unless step["travel_mode"] == "WALKING" %>
          <%= image_tag (step["transit_details"]["line"]["vehicle"]["icon"]), width: 20, height: 20 %>
        <% end %>
      <% end %>
    </div>
    <div class="card-destination-info">
      <p>From <%= @departure %></p>
      <p>At <%= @departure_time %>, <%= @departure_day_user %></p>
      <p>To <%= @arrival %></p>
      <p>At <%= @arrival_time %></p>
    </div>
    <div class="card-destination-price">
      <p>130 CHF</p>
    </div>
  </div>


  <!-- Les détails d'un trajet particulier -->
  <div class="card-destination-show-details">
    <!-- barre latérale -->
    <div class="circle-top"></div>
    <div class="vertical-line"></div>
    <div class="circle-bottom"></div>
    <!-- barre latérale -->
    <% @steps.each do |step| %>
      <% unless step["travel_mode"] == "WALKING" %>
          <!-- icones -->
          <div class="card-destination-details-icon">
            <%= image_tag (step["transit_details"]["line"]["vehicle"]["icon"]), width: 30, height: 30, class: "icon" %>
          </div>
          <!-- icones -->
          <!-- connections -->
          <div class="card-destination-details-connections">
            <p><%= step["transit_details"]["departure_time"]["text"] %> - <%= step["transit_details"]["departure_stop"]["name"] %></p>
            <div class="in-between">
              <span class="duration-in-between"><%= step["duration"]["text"] %></span>
              <span class="duration-in-between"><%= step["html_instructions"] %></span>
            </div>
            <p><%= step["transit_details"]["arrival_time"]["text"] %> - <%= step["transit_details"]["arrival_stop"]["name"] %></p>
          </div>
          <!-- connections -->
          <!-- Lien exploitant -->
          <div class="card-destination-details-link">
            <p>Buy your ticket here:</p>
            <%= link_to step["transit_details"]["line"]["agencies"][0]["url"] do %>
              <%= step["transit_details"]["line"]["agencies"][0]["name"] %>
            <% end %>
          </div>
          <!-- Lien exploitant -->
      <% end %>
    <% end %>
  </div>
</div>

