<div class="cards-destination-show">
  <!-- Les infos générales d'un trajet particulier -->
  <div class="card-destination-show-general">
    <div class="card-destination-carbon">
      <i class="fas fa-leaf"></i>
      <p><%= @journey["carbon"] %> kg CO2</p>
    </div>
    <div class="card-destination-transit-icon">
      <% @steps.each do |step| %>
        <% unless step["travel_mode"] == "WALKING" %>
          <%= image_tag (step["icon"]), width: 20, height: 20 %>
        <% end %>
      <% end %>
    </div>
    <div class="card-destination-info">
      <p>From <%= @journey["departure"] %></p>
      <p>At <%= @journey["departure_time"] %></p>
      <p>To <%= @journey["arrival"] %></p>
      <p>At <%= @journey["arrival_time"] %></p>
    </div>
    <div class="card-destination-price">
      <p>130 CHF</p>
    </div>
  </div>


  <!-- Les détails d'un trajet particulier -->
  <div class="card-destination-show-details">
    <!-- barre latérale -->
    <div class="circle-top"></div>
    <div class="vertical-line"></div>
    <div class="circle-bottom"></div>
    <!-- barre latérale -->
    <% @steps.each do |step| %>
        <!-- icones -->
        <div class="card-destination-details-icon">
          <%= image_tag (step[:icon]), width: 30, height: 30, class: "icon" %>
        </div>
        <!-- icones -->
        <!-- connections -->
        <div class="card-destination-details-connections">
          <p><%= step[:departure_time] %> - <%= step[:departure] %></p>
          <div class="in-between">
            <span class="duration-in-between"><%= step[:duration_step] %></span>
            <span class="duration-in-between"><%= step[:html_instructions] %></span>
          </div>
          <p><%= step[:arrival_time] %> - <%= step[:arrival] %></p>
        </div>
        <!-- connections -->
        <!-- Lien exploitant -->
        <div class="card-destination-details-link">
          <p>Buy your ticket here:</p>
          <%= link_to step[:agency_url] do %>
            <%= step[:agency] %>
          <% end %>
        </div>
        <!-- Lien exploitant -->
    <% end %>
  </div>
</div>

