<div class="destination-cards">
  <% @destinations_array.each do |destination| %>
  <% if Favorite.where(user: current_user).where(destination: destination[:id]).present?
    favorite_id = Favorite.where(user: current_user).where(destination: destination[:id])[0][:id]
    end %>
    <div class="destination-card" data-favorite-id="<%= favorite_id %>" data-destination-id="<%= destination[:id] %>">
      <div class="destination-photo">
        <%= image_tag destination[:photo_url], height: 120, crop: :scale, alt: destination[:name], class: "destination-image-index" %>
      </div>
      <div class="destination-infos">
        <h2><%= destination[:name] %> (<%= destination[:country] %>)</h2>
        <p><%= destination[:description] %></p>
        <% if Favorite.where(user: current_user).where(destination: destination[:id]).exists? %>
          <div class="link-card-index">
            <i class="fas fa-arrow-circle-down"></i>
            <%= render "favorites/favorite_full_heart", favorite: favorite_id %>
          </div>
        <% else %>
          <div class="link-card-index">
            <i class="fas fa-arrow-circle-down"></i>
            <%= render "favorites/favorite_empty_heart", destination_id: destination[:id] %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="destination-journeys">
      <% destination[:journeys].each do |journey| %>
        <div class="destination-journey">
          <p class="carbon_footprint"><%= journey[:carbon] %> kg CO2</p>
          <p>Total duration:<br><%= journey[:duration] %></p>
          <p>N° of connections:<br><%= journey[:connections] %></p>
          <%= link_to "See details", destination_path(destination[:id], journey: journey), class: "button" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
