<p>No public transportation is available for <%= @destination.name %></p>
<p>You can get there by driving</p>
<p><%= @distance_driving %> in <%= @duration_driving %> from <%= @departure_driving %> to <%= @arrival_driving %>. Carbon emissions : <%= @carbon %> kg CO2</p>
