<div class="destination-cards">
  <% @destinations_array.each do |destination| %>
    <div class="destination-card">
      <div class="destination-photo">
        <%= image_tag destination[:photo_url], height: 120, crop: :scale, alt: destination[:name], class: "destination-image" %>
      </div>
      <div class="destination-infos">
        <h2><%= destination[:name] %> (<%= destination[:country] %>)</h2>
        <p><%= destination[:description] %></p>
        <% if Favorite.where(user: current_user).where(destination: destination[:id]).exists? %>
          <div class="link-card-index">
            <i class="fas fa-arrow-circle-down"></i>
            <span class="favorite-added">Already in your Favorites</span>
          </div>
        <% else %>
          <div class="link-card-index">
            <i class="fas fa-arrow-circle-down"></i>
            <%= link_to "Add to favorites", favorites_path(dest: destination[:id]), method: :post, class: "see-details button" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="destination-journeys">
      <% destination[:journeys].each do |journey| %>
        <div class="destination-journey">
          <p class="carbon_footprint"><%= journey[:carbon] %> kg CO2</p>
          <p>Total duration:<br><%= journey[:duration] %></p>
          <p>N° of connections:<br><%= journey[:connections] %></p>
          <%= link_to "See details", destination_path(destination[:id], journey: journey), class: "button" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
