<div class="destination-cards">
  <% @destinations_array.each do |destination| %>
  <% if Favorite.where(user: current_user).where(destination: destination[:id]).present?
    favorite_id = Favorite.where(user: current_user).where(destination: destination[:id])[0][:id]
    end %>
    <div class="destination-card" data-favorite-id="<%= favorite_id %>" data-destination-id="<%= destination[:id] %>">
      <div class="destination-photo">
        <%= image_tag destination[:photo_url], height: 120, crop: :scale, alt: destination[:name], class: "destination-image-index" %>
      </div>
      <div class="destination-infos">
        <h2><%= destination[:name] %> (<%= destination[:country] %>)</h2>
        <p><%= destination[:description] %></p>
        <% if Favorite.where(user: current_user).where(destination: destination[:id]).exists? %>
          <div class="link-card-index">
            <i class="fas fa-arrow-circle-down"></i>
            <%= render "favorites/favorite_full_heart", favorite: favorite_id %>
          </div>
        <% else %>
          <div class="link-card-index">
            <i class="fas fa-arrow-circle-down"></i>
            <%= render "favorites/favorite_empty_heart", destination_id: destination[:id] %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="destination-journeys">
      <% destination[:journeys].each do |journey| %>
        <div class="destination-journey">
          <div class="carbon_footprint">
           <i class="fas fa-leaf"></i>
           <p><%= journey[:carbon] %> kg CO2</p>
          </div>
          <div class="times">
            <p>dep: <%= journey[:departure_time]%> <%= journey[:departure_day]%></p>
            <p>arr: <%= journey[:arrival_time]%> <%= journey[:arrival_day]%></p>
          </div>
          <p>Duration:<br><%= journey[:duration] %></p>
          <div class="icones">
          <% journey[:modes_icones].each do |icone| %>
            <p><%= icone.html_safe %> <br></p>
          <% end %>
          </div>
          <p>xxx CHF</p>
          <%= link_to "Details", destination_path(destination[:id], journey: journey), class: "button" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
