<div class="cards-destination-show">
  <!-- Les infos générales d'un trajet particulier -->
  <div class="card-destination-show-general">
    <div class="card-destination-carbon">
      <i class="fas fa-leaf"></i>
      <p><%= @journey["carbon"] %><b>kg<br>CO2</b></p>
    </div>
    <div class="card-destination-transit-icon">
      <% @steps.each do |step| %>
        <p><%= step[:icon].html_safe %> <br></p>
      <% end %>
    </div>
    <div class="card-destination-info">
      <p>From <%= @journey["departure"] %></p>
      <p class="card-destination-info-grey">Departure at <%= @journey["departure_time"] %> (<%= @journey["departure_day"] %>)</p>
      <p>To <%= @journey["arrival"] %></p>
      <p class="card-destination-info-grey">Arrival at <%= @journey["arrival_time"] %> (<%= @journey["arrival_day"] %>) </p>
    </div>
    <div class="card-destination-price">
      <p><%= @journey[:price] %> CHF</p>
    </div>
    <div id="barre-carbone"></div>
    <div id="barre-icons"></div>
    <div id="barre-prix"></div>
  </div>
</div>


<!-- Les détails d'un trajet particulier -->
<div class="card-destination-show-details">
  <!-- barre latérale -->
<!--   <div class="vertical-line"></div>
 -->  <!-- barre latérale -->
  <% @steps.each do |step| %>
    <!-- icones -->
    <div class="card-destination-details">
      <div class="card-destination-icon">
        <%= step[:icon].html_safe %>
      </div>
      <!-- icones -->
      <!-- connections -->
        <div class="card-destination-details-connections">
          <div class="departure">
            <p class="bold"><%= step[:departure] %></p>
            <p class="italic">Departure <%= step[:departure_time] %></p>
          </div>
          <div>
            <p class="italic">Arrival <%= step[:arrival_time] %></p>
            <p class="bold"><%= step[:arrival] %></p>
          </div>
        </div>
        <!-- connections -->
        <div class="card-destination-details-instructions">
          <p class="italic"><%= step[:duration_step] %></p>
          <p class="italic"><%= step[:html_instructions] %></p>
        </div>
        <!-- Lien exploitant -->
        <div>
          <%= link_to "BUY YOUR TICKET HERE", step[:agency_url], target: "_blank", class: "button" %>
        </div>
        <!-- Lien exploitant -->
    </div>
  <% end %>
</div>

<div class="card-destination-equivalence">
  <div class="card-destination-equivalence-details">
    <p>You save <span class="carbon-plane"><%= @plane_difference %> kg CO2</span> compared to a plane flight to go to <%= @journey["arrival"] %>. The amount of carbon you save represent the production of:</p>
    <div class="burgers-showers">
      <div class="burger-shower">
        <p><%= @burger_equivalent %> x  <%= image_tag("hamburger.png", size: "45") %></p>
      </div>
        <p id="or">or</p>
      <div class="burger-shower">
        <p><%= @shower_equivalent %> x  <%= image_tag("shower.png", size: "45") %></p>
      </div>
      </div>
  </div>
  <div class="end-button">
    <%= link_to "ADD TO MY TRAVEL DIARY", steps_path(info_step: params.to_unsafe_h), method: :post, class: "button" %>
  </div>
</div>
