<div class="cards-destination-show">
  <!-- Les infos générales d'un trajet particulier -->
  <div class="card-destination-show-general">
    <div class="card-destination-carbon">
      <i class="fas fa-leaf"></i>
      <p><%= @journey["carbon"] %> kg<br>CO2</p>
    </div>
    <div class="card-destination-transit-icon">
      <% @steps.each do |step| %>
        <%= image_tag (step["icon"]), width: 40, height: 40 %>
      <% end %>
    </div>
    <div class="card-destination-info">
      <p>From <%= @journey["departure"] %></p>
      <p class="card-destination-info-grey">Departure <%= @journey["departure_time"] %></p>
      <p>To <%= @journey["arrival"] %></p>
      <p class="card-destination-info-grey">Arrival <%= @journey["arrival_time"] %></p>
    </div>
    <div class="card-destination-price">
      <p>130 CHF</p>
    </div>
    <div id="barre-carbone"></div>
    <div id="barre-icons"></div>
    <div id="barre-prix"></div>
  </div>
</div>


<!-- Les détails d'un trajet particulier -->
<div class="card-destination-show-details">
  <!-- barre latérale -->
<!--   <div class="vertical-line"></div>
 -->  <!-- barre latérale -->
  <% @steps.each do |step| %>
    <!-- icones -->
    <div class="card-destination-details">
      <div class="card-destination-icon">
        <%= image_tag (step[:icon]), width: 30, height: 30, class: "icon" %>
      </div>
      <!-- icones -->
      <!-- connections -->
        <div class="card-destination-details-connections">
          <p class="bold"><%= step[:departure] %></p>
          <p class="italic">Departure <%= step[:departure_time] %></p>
          <br>
          <p class="italic">Arrival <%= step[:arrival_time] %></p>
          <p class="bold"><%= step[:arrival] %></p>
        </div>
        <!-- connections -->
        <div class="card-destination-details-instructions">
          <p class="italic"><%= step[:duration_step] %></p>
          <p class="italic"><%= step[:html_instructions] %></p>
        </div>
        <!-- Lien exploitant -->
        <div class="card-destination-details-link">
          <p class="bold">Buy your ticket here</p>
          <%= link_to step[:agency_url], class: "link-agency" do %>
            <%= step[:agency] %>
          <% end %>
        </div>
        <!-- Lien exploitant -->
    </div>
  <% end %>
</div>

<div class="card-destination-equivalence">
  <div class="card-destination-equivalence-details">
    <p>For this destination you save <%= @plane_difference %> kg CO2 compared to a plane flight</p>
    <p>This is equivalent to <%= @burger_equivalent %> burgers and <%= @shower_equivalent %> showers</p>
  </div>
</div>
