<div class="col-sm-12 form">
  <%= simple_form_for destinations_path, method: :get do |f| %>
    <%= f.input 'location', label: false, placeholder: "Departure position", input_html: { value: @location, class: "mb-2 mr-sm-2" } %>
    <%= f.input 'departure_day', label: false, placeholder: "Departure day", input_html: {class: "datepicker mb-2 mr-sm-2"} %>
    <%= f.input 'departure_time', label: false, placeholder: "Departure time", input_html: {class: "timepicker mb-2 mr-sm-2"} %>
    <%= f.submit "FIND DESTINATION", class: "button" %>
  <% end %>
</div>
