<div class="main-container">
  <div class="travel-diary">
    <div class="head">
      <h1>My travel diary</h1>
      <p class="stamp-total-carbon">Carbon total <%= @carbon_total %><b> kg CO2</b></p>
    </div>
    <p><%= link_to "Compensate my carbon footprint", "https://co2.myclimate.org/fr/contribution_calculators/new", target: "_blank", class: "step-button-carbon" %></p>

    <div class="steps-grid">
      <div class="step-card-first">
        <div class="step-photo-first" style="background-image: url('<%= image_url "slow_traveller_polaroid.jpg" %>');"></div>
        <div class="step-infos-first">
          <% if @steps.size.positive? %>
            <h3>Departure:<br><%= @first_departure %></h3>
          <% end %>


        </div>
      </div>
      <% @steps.each do |step| %>
        <div class="step-card" data-step-id="<%= step.id %>">
          <div class="step-photo" style="background-image: url('<%= step.destination.photo_url_medium %>'); alt: <%= step.destination.name %>;"></div>
          <p class="stamp-destination"><%= step.destination.name %> (<%= step.destination.country %>)</p>
          <p class="stamp-arrival"><%= step.arrival_day %></p>
          <p class="stamp-carbon">Carbon <%= step[:carbon] %><b> kg CO2</b></p>
          <div class="step-infos text-description">
            <p><%= step.description_extract %></p>
            <%= link_to edit_step_path(step), remote: true, method: :get, id: "link_edit_description" do %>
              <i class="fas fa-plus-square"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "WHERE NEXT ?", destinations_path(location_user: @location_user), class: "button step-button", id: "button-show" %>
    <div>
      <%= image_tag("wave_background.png", class: "image-background") %>
    </div>
  </div>
</div>
