<div class="main-container">
  <div>
    <h1>Slow traveller</h1>
  </div>

  <div class="form">
    <div class="col-sm-12">
      <div id="destinations">
        <h3>You are a slow traveller</h3>
        <%= render 'shared/form_research' %>
      </div>
    </div>
  </div>

  <div class="main-cards">
    <% @destinations.each do |destination| %>
      <%= link_to destination_path(destination), id:"link_destination" do %>
        <div class="destination-card">
          <div class="destination-photo">
            <%= image_tag destination.photo_url, height: 120, crop: :scale, alt: destination.name, class: "destination-image" %>
          </div>
          <div class="destination-infos">
            <h2><%= destination.name %> (<%= destination.country %>)</h2>
            <p><%= destination.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
