

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">

  <div class="main-container">
    <h1>It's more about the journey than the destination</h1>
    <div><%= render 'shared/form_research' %></div>
  </div>

</div>


<div class="main-container">

  <div class="text">
    <% if params["/destinations"] == nil %>
      <%= render 'shared/home_logout' %>
    <% else %>
      <div class="main-cards">
        <% @destinations.each do |destination| %>
            <div class="destination-card">
              <div class="destination-photo">
                <%= image_tag destination[1][0].photo_url, height: 120, crop: :scale, alt: destination[1][0].name, class: "destination-image" %>
              </div>
              <div class="destination-infos">
                <h2><%= destination[1][0].name %> (<%= destination[1][0].country %>)</h2>
                <p><%= destination[1][0].description %></p>
                <% if Favorite.where(user: current_user).where(destination: destination).exists? %>
                  <div class="favorite-added">Already in your Favorites</div>
                <% else %>
                  <%= link_to "Add to favorites", favorites_path(dest: destination), method: :post %>
                <% end %>
              </div>
            </div>
            <% destination[1][1].sort_by{ |dest| dest[:carbon] }.each do |destination_info| %>
              <div class="destination-infos-details">
                <p><i class="fas fa-leaf"></i> <%= destination_info[:carbon] %> kg CO2</p>
                <p><%= destination_info[:duration] %></p>
                <div class="destination-infos-details-connections">
                  <p><%= destination_info[:departure_time] %></p>
                  <p class="in-between duration-in-between"><%= destination_info[:connections] %> connections</p>
                  <p><%= destination_info[:arrival_time] %></p>
                </div>
                <%= link_to "See details", destination_path(destination[1][0]), target: :_blank, class: "btn btn-secondary" %>
              </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
