<div class="main-container">
  <h1>Destinations#index</h1>
  <p>Find me in app/views/destinations/index.html.erb</p>

  <div class="form">
    <div class="col-sm-12">
      <div id="destinations">
        <h3>You are a slow traveller</h3>
        <%= render 'shared/form_research' %>
      </div>
    </div>
  </div>


  <div class="cards-destination">
      <% @destinations.each do |destination| %>
        <%= link_to destination_path(destination), class: "cards-destination-link" do %>
        <div class="destination-photo">
          <%= image_tag destination.photo_url, alt: destination.name, class: "destination-image" %>
        </div>
        <div class="destination-infos">
          <h1><%= destination.name %> (<%= destination.country %>)</h1>
          <p><%= destination.description %></p>
        </div>
        <% end %>
      <% end %>
  </div>
</div>

