<div class="main-container">
  <div class="form-banner">
    <div class="form-box">
      <h1>Slow traveller</h1>
      <h2>It's more about the journey than the destination</h2>
      <div class="form-search">
        <%= render 'shared/form_research' %>
      </div>
    </div>
    <%= image_tag("slow_traveller.png", class: "image-banner") %>
  </div>

  <div>
    <%= image_tag("wave_background.png", class: "image-background") %>
  </div>

  <div class="content-index">
    <div class="spinner">
      <%= render 'shared/spinner' %>
    </div>
    <%= render 'shared/home_logout' %>
  </div>


</div>
