<div class="main-container">
  <div class="destination">
    <div class="destination-description">
      <h1><%= @chosen_destination.name %> (<%= @chosen_destination.country %>)</h1>
      <p><%= @chosen_destination.description %></p>
    </div>
    <%= image_tag @chosen_destination.photo_url, alt: @chosen_destination.name, class: "destination-image" %>
  </div>

  <br>
  <br>
  <%= render 'shared/card-destination-show' %>
</div>
